*{
    list-style-type: none;
    text-decoration:none;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    width: 100%;
    overflow-x:hidden;
    font-family: cursive;

}
#first-section{
    display:flex;
    flex-direction: column;
    background-color: hsl(334, 77%, 80%);
    color: seagreen;
    width: 100%;
    height:auto;
}
.header{
    display:flex;
    align-items: center;
    padding:20px;
    flex-wrap:wrap;
    justify-content:space-around;
    background-color: rgb(246, 124, 185);
}
.header h3{
    font-family:'Ribeye',sans-serif ;
    font-size: 50px;
    font-weight: 900;
    color:darkgreen;
    margin:0;
    font-weight:100;


}
.links{
    display:flex;
    margin left:auto;
    gap:25px;
    font-size:18px;
    flex-wrap:wrap;
    justify-content:end;
    
    
    
}
.links a{
    color:rgb(216, 230, 196)

}
.links a:hover{
    color: darkgreen;

}
.view-section{
    display:flex;
    width:90%;
    margin:auto;
    gap:40px;
    padding:100px;
    align-items:center;
}
.left{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.view-section h1{
    font-family: "Ribeye";
    font-size:100px;
    margin:0;
    font-weight: 100;

}
.view-section p{
    font-size: 20px;

}
.view-section a{
    background-color: transparent;
    border:2px rgb(1, 64, 1);
    font-size: 22px;
    max-width:fit-content;
    padding:14px;
    color:rgb(200, 251, 168);
}
.view-section a:hover{
    background-color: rgb(225, 84, 162);
    border:2px solid rgb(230, 104, 173);
    color: rgb(213, 241, 164);
    border-radius: 30%;
}
#sec-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.characters-label{
    font-size: 36px;
    font-weight: 900;
}
.items{
    display:flex;
    gap:60px;
}
.character img{
    width: 200px;
    height: 200px;
    border-radius: 16px;
    border: 8px solid rgb(13, 62, 16);
    
}
.character{
    text-align: center;
    font-size: 26px;
}
#third-section{
    background-color:hsl(334, 77%, 80%); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.quote{
    display: flex;
    flex-direction: column;
    width: 70%;
    color: rgb(213, 241, 164);
}
.quote quote{
    font-size:45px;
    align-self:center;
    font-weight:lighter;
}
.quote h5{
    font-size:30px;
    align-self:flex-end;

}
#fourth-section{
    display:flex;
    justify-content:center;
    align-items: center;
    padding:60px;
}
.box{
    background-color:hsl(334, 77%, 80%) ;
    padding: 28px;
    border-radius: 14px;
    color:rgb(213, 241, 164) ;
    font-size: 20px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}
.box a{
    width:fit-content;
    padding: 14px;
    color:rgb(213, 241, 164) ;
    background-color:rgb(233, 142, 192) ;
    border: 2px solid rgb(232, 140, 191);
    border-radius: 12px;
}
.box a:hover{
    background-color: rgb(225, 84, 162);
}
footer{
    background-color: hsl(334, 77%, 80%);
    font-size: 24px;
    padding: 12px;
    color:rgb(216, 230, 196);
    text-align: center;
}